@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }
  
  .animate-slide-right {
    animation: slideRight 8s linear;
  }
  